body{
    background-color: #F1F2F8;
    overflow-x: hidden;
}
.footer{
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: #001524;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.Abtu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.Abtu .link-abt{
    display: flex;
    flex-direction: column;
}
.Abtu .link-abt a{
    text-decoration: none;
    padding: 2px;
    color: white;
    text-transform:capitalize;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.icon-sc a{
padding: 4px;

}
.text-sc p{
text-align: left;
letter-spacing: 1px;
word-spacing: 1px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    background-color: #2E4374;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.nav-sc{
 width: 50vw;
 height: 45px;
 border-radius: 15px;
 padding: 12px 16px;
 box-sizing: border-box;
}
.user{
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    width: 100%;
}
.user i{
font-size:25px;
}
.user a:nth-child(1){
    background-color:white;
    border-radius: 100px;
    padding: 8px;
}

/* home page */

.box-content{
    display: flex;
    width: 85%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    margin: 50px auto;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.box-content .prd-new{
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: column;
    margin: 40px auto;
    box-sizing: border-box;
}
.box-content .prd-new .produk{
    display: flex;
    margin: 8px;
    padding: 8px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box-content .prd-new .produk .card{
    box-shadow: 10px 10px 111px 40px rgb(255, 255, 255);
    -webkit-box-shadow: 10px 10px 111px 40px rgba(239,239,239,0.75);
    -moz-box-shadow: 10px 10px 111px 40px rgba(239,239,239,0.75);
border-radius: 10px;
}
.box-content .menu-link{
    justify-content: space-around;
    width: 80%;
    height: 20vh;
    padding: 20px;
    margin: 60px auto;
    align-items: center;
    box-shadow: 10px 10px 111px 40px rgb(255, 255, 255);
    -webkit-box-shadow: 10px 10px 111px 40px rgba(239,239,239,0.75);
    -moz-box-shadow: 10px 10px 111px 40px rgba(239,239,239,0.75);
    border: 4px solid rebeccapurple;
    border-radius: 40px;
}
.box-content .menu-link button{
    width: 15%;
    height: 50px;
    padding: 8px;
    border-radius: 60px;
    background-color:#2E4374;
    color: white;
}
.menu-link a{
  text-decoration: none;
}


.box-content .menu-link i{
    color: white;
    font-size: 18px;
    letter-spacing: 4px;
}
/* end home */
a{
    color: white;
}
.box-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: #6096B4;
}
.box-login .login-page{
    width: 70%;
    height: 60vh;
    background-color: #5B7DB1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px auto;
    border: 4px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
}

.login-page .form-control{
    width: 55vw;
    padding: 10px;
    border: 2px solid #435585;
}

/* single page */
.single-page{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    background-color: #435585;
}
.single-page .image-produk{
    display: flex;
    width: 50%;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    border: 1px solid #6096B4;
    border-radius: 8px;
}
.single-page .produk-details{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px;
    align-items: start;
    background-color:white;
    border-radius: 8px;
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20vh;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.2;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* booking page */
.booking-page{
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #394867;
  justify-content: baseline;
}
.booking-infomation{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 40px;
  background-color: #19376D;
justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 2px 6px 88px 4px rgba(176,218,255,1);
-webkit-box-shadow: 2px 6px 88px 4px rgba(176,218,255,1);
-moz-box-shadow: 2px 6px 88px 4px rgba(176,218,255,1);
}
.booking-data{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;

}
.booking-data .booking-infomation-data{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  
}
/* cart */
.cart-page{
  display: flex;
  width: 95%;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
margin: 50px auto;
}
.cart-page .cart-item{
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: space-around;
  align-items: baseline;
  background-color: white;
  width: 80%;
  margin: 50px auto;
  box-sizing: border-box;
}
.cart-page .cart-action{
  flex-direction: column;
}
.cart-action .cart-subtotal{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

*{
  margin: 0;
  padding: 0;
}
.user-pages{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px ;
  background-color:#F1EFEF;
height: 100vh;
}
.user-pages .user-profiles{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  font-size: 16px;
}
.user-profiles .img-user{
  width: 15%;
  height: 25vh;
  border-radius: 10px;
  box-shadow: -1px 2px 51px 10px rgba(202,127,255,0.63);
-webkit-box-shadow: -1px 2px 51px 10px rgba(202,127,255,0.63);
-moz-box-shadow: -1px 2px 51px 10px rgba(202,127,255,0.63);
}
.users-menus{
  width: 100%;
  background-color: #F9F5F6;
  padding: 40px;
  border: 4px solid #4F709C;
  border-radius: 8px;
}
.users-menus ul{
  display: flex;
  flex-direction: column;
  gap: 60px;
  list-style: none;
}
.users-menus li{
  background-color: #4F709C;
  padding: 12px;
  border-radius: 10px;
  border: 4px solid #D2E0FB;
  font-weight: 500;
}
.btn-menus{
  background-color: transparent;
  border: none;
}
/* order list */
.order-list{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 50px;
  background-color: #F9F5F6;
  height: 100vh;
}
.order-details{
  width: 100%;
  background-color: #F9F5F6;
  border-radius: 8px;
}
.order-details ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
padding: 40px;
  background-color: white;
}