<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remap requests to the index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>