* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    margin-top: -5px;
    z-index: 4;
    height: max-content;
}

.dropdown-menu {
    background-color: white;
    border: none;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
}

.dropdown-menu a:hover {
    color: #40A2E3;
}

.topnav {
    background-color: #40A2E3;
    width: 100%;
    height: 6vh;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 120px;
}

.topnav button {
    width: 6%;
    height: 5vh;
    border-radius: 20px;
    background-color: #BBE2EC;
    color: black;
}

.topnav button:hover {
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
}

.hero {
    width: 100%;
    height: 100%;
    z-index: 2; 
    margin-top: -20px;
padding: 0;
margin: 0;
}

.hero img {
    width: 100%;
    z-index: 3;
}

.mainpage {
    width: 100%;
    margin-top: 50px;
    padding: 50px; 
    gap: 50px 50px;
}
.text-header{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
}
.spesialisasi {
    width: 100%;
    height: 90vh;
}
.spesialisasi .row{
    gap: 72px 44px;
}
.spesialisasi .card{
    height: 45vh;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px #252323);
    padding: 8px;
    transition: 0.8s;
    
}
.spesialisasi .card:hover{
    box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
    -webkit-box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
    -moz-box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
}
.card-title{
    color: #40A2E3;
    font-size: 16px;
}
.spesialisasi .card .card-img-top{
    height: 45vh;
}

.spesialisasi .swiper {
    width: 90%;
    background-color: #fafafa;
    border-radius: 20px;
}
 .spesialisasi .swiper-scrollbar {
    background: #e0e0e0; 
    border-radius: 10px;
    width: 19px; 
}

.spesialisasi .swiper-scrollbar-drag {
    background: #40A2E3; 
    border-radius: 10px; 
    width: 19px;
} 
 
.spesialisasi .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
}
.poster-section{
    width: 99%;
    padding: 10px;
    box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.54);
-webkit-box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.54);
-moz-box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.54);
    margin: 50px auto;
    border-radius: 20px;
}
.poster-section .slogan{
    padding: 50px;
    justify-content: center;
    gap: 20px 20px;
}
.poster-section .slogan h4{
    font-size: 60px;
}
.poster-section .slogan p{
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: 0;
}
.poster-section .poster-header{
    width: 50%;
    padding: 10px;
}
.poster-header .sirkel{
    position: relative;
    z-index: 1;
    margin-top: -70px;
    opacity: 100;
}
.poster-section .swiper {
    background-color: transparent;
    width: 100%;
    padding: 50px;
    z-index: 2;
  }

.poster-section .swiper-slide {
    background-size: cover;
    border-color: transparent !important;
    background-position: center;
    width: max-content;
    height: max-content;
overflow: hidden;
}

.poster-section  .swiper-slide img {
    display: block;
      width: max-content;
      height: max-content;
  }
.client{
    width: 100%;
    height: 90vh;
 flex-wrap: wrap;
 align-items: center;
 align-content: center;
 justify-content: center;
 gap: 90px 90px;
}
.client img{
    width: 10vw;
}
.client .col{
    align-items: center;
    align-content: center;
    width: 20%;
}
.about{
    width: 100%;
    justify-content: space-between;
    height: 100%;
    gap: 100px 100px;
}

.about .col:nth-child(2) .about-text{
    padding: 10px;
    background-color: rgba(64, 162, 227,65%);
    width: 90%;
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: 0;
    font-size: 18px;
}
.misi{
    width: 100%;
    gap: 0px 0px;
}
.misi .misi-text{
    width: 90%;
    padding: 20px;
    border-radius: 35px;
    background-color: #81c4f1;
    opacity:95%;
    font-size: 18px;
    text-align: justify;
}
 .keuggulan .swiper {
    width: 100%;
    height: 100%;
  }

 .keuggulan .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.keuggulan .card{
    width: 90%;
    height: 50vh;
    list-style: none;
    text-align: left;
    border-radius: 8px;
    font-size: 18px;
    background-color: #93d4ff;
    box-sizing: border-box;
    gap: 20px 20px;
    color: black;
    padding: 20px;
}
.keuggulan .card .card-title{
    color: black;
}
.layanan-page{
    width: 100%;
}
.layanan-page .serch-bar{
    width: 100%;
    height: 8vh;
}
.layanan-page .serch-bar input{
    width: 60vh;
    height: 6vh;
    background-color: #E9E6E6;
    border-radius: 16px;
}
.layanan-page .cards-layanan{
    width: 100%;
    align-items: center;
    align-content: center;
    height: 100vh;
    justify-content: space-evenly;
}
.layanan-page .cards-layanan .card{
    background-color: #D9D9D9;
    border: none;
}
.layanan-page .filters{
    gap: 50px 50px;
    background-color: #D9D9D9;
    padding: 8px;
    border-radius: 8px;
}
.spesialisasi_pages{
    width: 100%;

}
.spesialisasi_pages .card{
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px #252323);
    padding: 8px;
    transition: 0.8s;
}
.spesialisasi_pages .col:nth-child(2){
    background-color: rgba(64, 162, 227,30%);
    gap: 20px 20px;
    height: 30vh;
    padding: 20px;
    border-radius: 35px;
}
.spesialisasi_pages .card-text{
    font-size: 16px;
    color: #40A2E3;

}
.spesialisasi_pages .content_spesialis{
    margin-top: 30px;
    padding: 10px;
    height: max-content;
    gap: 50px 50px;
    width: 100%;
}
.content_spesialis .swiper {
    width: 100%;
    height: 100%;
  }

.content_spesialis  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.content_spesialis .card:hover{
    box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
    -webkit-box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
    -moz-box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
}
.mitra-list{
    width: 100%;
    background-color: rgba(64, 162, 227,30%);
    border-radius: 20px;
}
.mitra .filters{
    justify-content: space-between;
    align-items: center;
}
#forgetpasbtn{
    background-color:#40A2E3;
    padding:2px;
    border-radius:8px;
    color: white;
    border: none;
    box-shadow: 3px 2px 5px 4px rgba(64,162,227,1);
    border: 2px solid  #40A2E3;
}
.authpages{
    background-color:rgba(64, 162, 227,30%);
    height: max-content;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.authpages .loginbox,.registerbox{
    width: 100%;

}
.authpages form{
    width: 50%;
    height: max-content;
    margin: 50px auto;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:rgba(64, 162, 227,40%);
    filter: drop-shadow(6px 6px 4px rgba(189,229, 225,40%));
    filter: drop-shadow(6px 6px 4px rgba(64, 162, 227,80%));
}
.authpages form button{
    height: 6vh;
    background-color: #40A2E3;
    border-radius: 8px;
    color: white;
    border: none;
}
.userpages{
    width: 100%;
    height:max-content;
}
.userpages .top{
    width: 100%;
    height: max-content;
}
.userpages .navbar{
    background-color: rgba(64, 162, 227,30%);
    height: 10vh;
    padding: 0;
    margin: 0;
}
#dokterForm{
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:rgba(64, 162, 227,40%);
    filter: drop-shadow(6px 6px 4px rgba(189,229, 225,40%));
    filter: drop-shadow(6px 6px 4px rgba(64, 162, 227,80%));
    z-index: 100000;
    opacity: 2;
}
#apotekerForm{
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:rgba(64, 162, 227,40%);
    filter: drop-shadow(6px 6px 4px rgba(189,229, 225,40%));
    filter: drop-shadow(6px 6px 4px rgba(64, 162, 227,80%));
    z-index: 100000;
    opacity: 2;
}
#dokterForm button{
    height: 6vh;
    background-color: #40A2E3;
    border-radius: 8px;
    color: white;
    border: none;
}
#apotekerForm  button{
    height: 6vh;
    background-color: #40A2E3;
    border-radius: 8px;
    color: white;
    border: none;
}
.modal::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.dokterlist{
        width: 100%;
        background-color: rgba(64, 162, 227,30%);
        border-radius: 20px;
}
.formobat .dropdown-toggle{
    width: 22vw !important;
}
.formobat .dropdown-menu{
    width: 22vw !important;
    padding: 10px;
}
@media screen and (max-width: 600px) {

    .topnav {
        padding: 30px 6px;
    }
    .userpages{
        width: 100%;
        height:max-content;
    }
    .userpages .top{
        width: 100%;
        height: max-content;
    }
    .userpages .top img:nth-child(1){
        width: 12%;
    }
    .userpages .top img:nth-child(2){
        width: 25%;
    }
    .userpages .navbar{
        background-color: rgba(64, 162, 227,30%);
        height: 10vh;
        padding: 0;
        margin: 0;
    }
    .userhome{
        width: 100%;
    }
    .userinfo{
    background-color: rgba(62,162, 227,50%);
    width: 100%;
    }
    .userinfo .swiper {
        width: 80%;
        padding: 20px;
      }
     .userinfo .swiper-slide {
        background-color: transparent;
        background-position: center;
        background-size: contain;
        display: flex;
       width: 100%;
        height: max-content;
      }
     .userinfo .swiper-slide img {
        display: block;
        width: 100%;
      }
      .usermenus{
        width: 100%;
        padding: 30px;
      }
      .usermenus h6{
        font-size: 10px;
        text-align: center;
        color: white;
      }
      .usermenus .img-link{
        width: 75%;
        border-radius: 100%;
        background-color: white;
        padding: 8px;
        box-shadow: -1px 1px 5px 0px rgba(255, 255, 255, 0.75);
      }
      .usermenus .col{
        padding: 10px;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 30%;
        gap: 8px;
        background-color: #93d4ff;
        border-radius: 10px;
        height: 15vh;
        filter: drop-shadow(4px 4px 0px #40a2e3);
        text-align: center;
      }
      .usermenus .col a{
        color: white;
      }
    .topnav button {
        width: 30%;
        padding: 0px;
    }
    .authpages form{
        width: 95%;
        height: max-content;
        margin: 50px auto;
        justify-content: center;
        border-radius: 20px;
        box-sizing: border-box;
        background-color:rgba(64, 162, 227,40%);
        filter: drop-shadow(6px 6px 4px rgba(189,229, 225,40%));
        filter: drop-shadow(6px 6px 4px rgba(64, 162, 227,80%));
    }
    .authpages{
        height: max-content;
    }
    .authpages .img-form{
        width: 70%;
    }
    .btnscanner{
        width: max-content;
        height: 10vh;
        padding: 4px;
        border-radius: 20px;
        background-color: #BBE2EC;
        color: black;
    }
    .scaneer{
        width: 100%;
       height: max-content;
    }
    .scaneer img{
        padding: 2px;
        width: 30%;
        border-radius: 100%;
        height: min-content;
        border: 4px solid rgba(64, 162, 227,80%);
        box-sizing: border-box;
    }
    .scanner-box{
        height: 60vh;
    }
}
