*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #404258;
}
h1,h2,h3,h4,h5{
    font-family: 'Bebas Neue', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
.main_content{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    background-color:transparent;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    padding:5px;
    gap: 8px;
}
.side-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    padding: 20px;
    background-color: #474E68;
    margin:5px auto;
    border-radius: 8px;
    box-sizing: border-box;

}
.side-left .content-suhu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color:#D2E0FB;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 1px -2px 0px 7px rgba(255,255,255,0.75);
-webkit-box-shadow: 1px -2px 0px 7px rgba(255,255,255,0.75);
-moz-box-shadow: 1px -2px 0px 7px rgba(255,255,255,0.75);
}
.side-left .card-details{
    display: flex;
    flex-direction: row;
    gap: 20px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}
.side-left .city{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.side-left .city input{
    width:40dvw;
    height: 6vh;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: 1px solid gray;
}
.side-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px 10px;
    width: 55%;
    background-color: #50577A;
    padding: 10px;
    margin: 10px auto;
   border-radius: 8px;
    box-sizing: border-box;
}
.card-suhu-hours{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    background-color: #6B728E;
    gap: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction:column;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #89CFF3;
    border-radius: 8px;
  }
.card-suhu-day{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    background-color: #6B728E;
    gap: 20px;
}
.card-suhu-ai-sugets{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    background-color: #6B728E;
    gap: 20px;
}
.card{
    background-color: transparent;
    color: white;
    border: 1px solid #8EA7E9;
    border-radius: 8px;
}